[submodule ".submodules/secp256k1"]
	path = .submodules/secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule ".submodules/wasi-libc"]
	path = .submodules/wasi-libc
	url = https://github.com/WebAssembly/wasi-libc.git
